<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com.artegentech" />
	<!--在本程序之中設置要導入的資源文件路徑，直接通過classpath加載 -->
	<context:property-placeholder location="classpath:database.properties" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${db.driver}" />	<!-- 驅動程序 -->
		<property name="jdbcUrl" value="${db.url}" /><!-- 連接地址 -->
		<!-- <property name="user" value="${db.user}" /> --><!-- 用戶名 -->
		<!-- <property name="password" value="${db.password}" /> --><!-- 密碼 -->
		<property name="maxPoolSize" value="${pool.max}" />	<!-- 最大可用連接數 -->
		<property name="minPoolSize" value="${pool.min}" />	<!-- 最小維持的連接數 -->
		<property name="initialPoolSize" value="${pool.init}" />	<!-- 初始化連接數 -->
		<property name="maxIdleTime" value="${pool.idle}" />	<!-- 最大等待連接 -->
		<property name="properties" ref="dataSourceProperties"/>
	</bean>
	 <!-- 针对本地服务器上用的root密码加密方法 --> 
	<bean id="dataSourceProperties" class="com.artegentech.util.c3p0.PropertiesEncryptFactoryBean"> 
		<property name="properties">  
			<props>  
				<prop key="user">${db.user}</prop><!-- 用戶名 -->
				<prop key="password">${db.password}</prop><!-- 密碼 -->
			</props>  
        </property>
    </bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 定義Spring與MyBatis整合的操作控制，此時數據庫的連接對象取得由Spring負責 -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 配置所有資源文件的保存路徑的資源匹配符 -->
		<property name="mapperLocations" value="classpath:com/artegentech/system/vo/mapping/*.xml" />
		<property name="configLocation" value="classpath:mybatis.cfg.xml" />
	</bean>
	<!-- 配置自動創建數據層實現類的開發包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 定義該包中的訪問為自動配置實現 -->
		<property name="basePackage" value="com.artegentech.system.dao" />
		<property name="sqlSessionFactoryBeanName" value="sessionFactory" />
	</bean>
	
	<!-- 針對於安全管理實現的AOP處理操作 -->
	<bean id="serviceAuthorizationAttributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	<!-- 進入到了事務的配置聲明 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 定義一起與服務層有關的控制方法名稱，只要是使用了特定的名稱，那麼就會自動處理事務 -->
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="change*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="login*" propagation="REQUIRED" />
			<tx:method name="rm*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="check*" propagation="REQUIRED" read-only="true" />
			<tx:method name="load*" propagation="REQUIRED" read-only="true" />
			<tx:method name="list*" propagation="REQUIRED" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 定義事務的處理切入點 -->
	<aop:config expose-proxy="true">
		<aop:pointcut expression="execution(* com.artegentech..service..*.*(..))" id="pointcut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
	</aop:config>
</beans>