<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 進行Mybatis的相應環境屬性定義 -->
	<settings>	<!-- 在本項目之中開啟二級緩存 -->
		<setting name="cacheEnabled" value="true"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
 		<package name="com.artegentech.system.vo"/>
	</typeAliases>
</configuration>